

/*body .weui-toast{ min-height: auto; margin-left: auto; margin-right: auto; width:-webkit-max-content;width: max-content; min-width: 7.6rem; max-width: 20rem;}
body .weui-toast>p{ color: #fff;}*/
body .weui-toast{margin-left: 0; background: rgba(0,0,0,.7); color: #fff; text-align: center; padding: 3rem 0; border-radius: 10px; z-index: 992; width: 60%; right: 20%; top: 50%; transform: translate(-50% -50%); min-height: auto;}
body .weui-toast>p{ color: #fff;}
body .weui-dialog{ border-radius: 5px;}
body .weui-dialog__btn{ color: #595959;}
body .weui-dialog .weui-dialog__btn.default,
body .weui-toast .weui-dialog__btn.default{ color: #999;}
body .weui-dialog__bd{ padding: 1rem 1.6rem 2rem; line-height: 25px;}
body .weui-toast--text{ font-size: 1rem;}
body .weui-textarea{ background: #f6f6f6}
body .weui-dialog__btn:first-child{ color: #999;}
body .weui-check__label:active{ background-color: rgba(0,0,0,0);}

/*单选按钮*/
body .weui-cells_radio .weui-check:checked+.weui-icon-checked:before{ content: ""; background: url(../img/xuanzhong@2x.png) no-repeat; background-size: cover; width: 30px; height: 30px;}

body>section{ margin-top: 45px;}
.meng{ position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 990;}

/*选择城市*/
.citySec{ margin-top: 87px;}
.citySec .tit{ padding: 10px; text-align: center; background: #f6f6f6; position: fixed;
top: 45px; left: 0; right: 0; z-index: 999;}
.citySec .content{ overflow: hidden;}
.citySec .content .sheng{ width: 35%; float: left;}
.citySec .content .sheng>div{ width: 100%; height: 55px; line-height: 35px; padding: 10px; border-bottom: 1px solid #f2f2f2; background: #f6f6f6;}
.citySec .content .sheng>div.active{ background: #fff;}
.citySec .content .city{ width: 65%; float: left; padding-left: 10px;}
.citySec .content .city>div{ width: 100%; height: 55px; line-height: 35px; padding: 10px 10px 10px 0; border-bottom: 1px solid #f2f2f2; background: #fff;}

/*提问*/
.askSec{ background: #fff; padding-bottom: 45px;}
.askSec .audio{ padding-top: 20px; margin: 0 15px; text-align: center; border-bottom: 1px solid #f2f2f2;}
.askSec .audio .audioLine{ overflow: hidden; text-align: left; margin-bottom: 20px;}
.askSec .audio .audioLine>div{ display: inline-block; line-height: 30px; float: left;}
.askSec .audio .audioLine .line{ max-width: 70%; height: 30px; background: #8adac8; border-radius: 20px;}
.askSec .audio .audioLine>i{ display: inline-block; width: 20px; height: 30px; background: url(../img/shanchu@2x.png) no-repeat center right; background-size: 16px; float: right;}
.askSec .audio .audioIcon{ width: 7rem; height: 7rem; background: url(../img/yuyinIcon.png) no-repeat center; background-size: cover; border-radius: 50%; margin: 0 auto;}
.askSec .text{ background: #f6f6f6; margin: 15px;}
.askSec .choseWay{ padding-top: 15px;}
.askSec .choseWay>div{ width: 70%; margin: 0 auto; margin-bottom: 15px; border: 1px solid #41D397; color: #41D397; height: 45px; line-height: 45px; text-align: center; border-radius: 5px; position: relative;}
.askSec .picBox{ overflow: hidden; padding: 10px 0 10px 4%;}
.askSec .picBox .picItem{ float: left; width: 46%; margin-right: 4%; background: url(../img/xiangpian@2x.png) no-repeat center; height: 8rem; position: relative; background-size: 30px;}
.askSec .picBox .picItem>img{ width: 100%; height: 100%; object-fit: cover;}
.askSec .picBox .picItem>input{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0;}
.askSec .picBox .picItem>i{ position: absolute; top: -10px; right: -10px; display: inline-block; width: 25px; height: 25px; background: url(../img/tupianshanchu@2x.png) no-repeat; background-size: cover;}
.askSec .baogaoBox .tit>i{ display: inline-block; width: 25px; height: 20px; background: url(../img/lajitong@2x.png) no-repeat right center; background-size: cover; float: right; vertical-align: middle; margin-top: 2px;}
.askSec .bottom{ position: fixed;left: 0; bottom: 0; right: 0; background: #fff; height: 45px; line-height: 45px; z-index: 999; border-top: 1px solid #f2f2f2;}
.askSec .bottom .sub{ padding: 0 30px; background: #41D397; color: #fff;}
.askSec .bottom2{ position: fixed; left: 0; right: 0; bottom: 0; height: 40px; line-height: 40px; text-align: center; background: #41D397; color: #fff;}

/*支付*/
.paySec .tit{ padding: 15px; text-align: center; border-bottom: 5px solid #f6f6f6; background: #fff;}
.paySec .bottom{ position: fixed; left: 0; right: 0; bottom: 0; height: 40px; line-height: 40px; text-align: center; background: #41D397; color: #fff;}

/*支付成功*/
.paySec .center>div{ line-height: 25px;}
.paySec .btn{ width: 35%; height: 40px; line-height: 40px; text-align: center; border-radius: 5px; margin: 0 auto;}
.paySec .btn.backHome{background: #41D397; color: #fff; margin-top: 2rem;}
.paySec .btn.checkMine{background: #fff; color: #41D397; border: 1px solid #41D397; margin-top: 1rem;}

/*上传报告*/
.bgSec .picBox{ padding: .25rem; overflow: hidden;}
.bgSec .picBox .picItem{ float: left; width: 33%; padding: .25rem;}
.bgSec .picBox .picItem>div{ position: relative; background: url(../img/xiangpian@2x.png) #f7f7f7 no-repeat center; background-size: 30px; height: 100%;}
.bgSec .picBox .picItem>div>img{ width: 100%; height: 100%; object-fit: cover;}
.bgSec .picBox .picItem>div>i{ position: absolute; top: -10px; right: -10px; width: 22px; height: 22px; background: url(../img/tupianshanchu@2x.png) no-repeat; background-size: cover;}
/*.bgSec .picBox .picItem>div>input{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0;}*/
.bgSec .bottom{ position: fixed; left: 0; bottom: 0; right: 0; height: 35px; line-height: 35px; text-align: center; color: #fff; background: #41D397;}

/*报告详情*/
.bgdetailSec .picBox{ overflow: hidden; padding: .25rem;}
.bgdetailSec .picBox .picItem{ float: left; width: 33.33%; padding: .25rem;}
.bgdetailSec .picBox .picItem>img{ width: 100%; height: 100%; object-fit: cover;}
.bgdetailSec .pdfBox{ padding-top: 8rem; text-align: center;}
.bgdetailSec .pdfBox .chakan{ width: 30%; height: 35px; line-height: 35px; text-align: center; background: #41D397; color: #fff; margin: 10px auto; border-radius: 5px;}

/*我的问题列表*/
.questionListSec .selectBox{ border-bottom: 5px solid #f6f6f6; position: relative; z-index: 992;}
.questionListSec .xiala{ position: absolute; top: 40px; left: 0; right: 0; z-index: 99;}
.questionListSec .all,.questionListSec .xiala>div{ height: 40px; line-height: 40px; text-align: center; background: #fff; border-bottom: 1px solid #f6f6f6;}
.questionListSec .xiala>div.active{ color: #41D397;}
.questionListSec .all>i{ display: inline-block; width: 20px; height: 20px; background: url(../img/xiala2@2x.png) no-repeat center; vertical-align: middle; margin-top: -3px;}
.questionListSec .all.active>i{ background: url(../img/shangla@2x.png) no-repeat center;}
.questionListSec .questionListItem i{ display: inline-block; width: 30px; height: 30px; background: url(../img/dian@2x.png) no-repeat center; background-size: cover; margin-right: -5px; vertical-align: middle; margin-top: -4px;}
.questionListSec .content{ padding: 10px; line-height: 20px;}
.questionListSec .questionListItem{ border-bottom: 5px solid #f6f6f6;}
.questionListSec .questionListItem a.zhuanfa{ display: block; padding: 10px; color: #41D397; text-decoration: underline; position: relative;}
.questionListSec .questionListItem a.zhuanfa:before{ content: ""; position: absolute; left: 10px; right: 10px; top: 0; height: 1px; background: #f6f6f6;}

/*聊天*/
.chartSec{ padding: 15px 15px 45px;}
.chartSec .chartBox{ padding-bottom: 1rem;}
.chartSec .chartBox>div{ padding-bottom: 10px;}
.chartSec .chartBox .tit{ overflow: hidden;}
.chartSec .chartBox .headImg{ width: 30px; height: 30px; border-radius: 50%; overflow: hidden;}
.chartSec .chartBox .headImg>img{ width: 100%; height: 100%; object-fit: cover; vertical-align: initial;}
.chartSec .chartBox .content{ overflow: hidden;}
.chartSec .chartBox .content .text{ background: #2e8ce5; border-radius: 10px; padding: 10px; color: #fff;}
.chartSec .chartBox .content .audio span{ display: inline-block; max-width: 70%; height: 30px; border-radius: 20px;}
.chartSec .chartBox .content .audio i{ display: inline-block; line-height: 30px; padding: 0 10px;}
.chartSec .chartBox .content .pic{ max-width: 50%; border-radius: 10px; overflow: hidden;}
.chartSec .chartBox .content .pic>img{ width: 100%; height: 100%; object-fit: cover;}

/*左边样式*/
.chartSec .chartBox.lBox .tit>div{ float: left; line-height: 30px;}
.chartSec .chartBox.lBox .content .audio span{ background: url(../img/yuyin2.png) #8adac8 no-repeat 10% center; background-size: 10px; float: left;}
.chartSec .chartBox.lBox .content .audio i{ display: inline-block; line-height: 30px; float: left;}

/*右边样式*/
.chartSec .chartBox.rBox .tit>div{ float: right; line-height: 30px;}
.chartSec .chartBox.rBox .content .audio span{ background: url(../img/yuyin.png) #8adac8 no-repeat 90% center; background-size: 10px; float: right;}
.chartSec .chartBox.rBox .content .audio i{ display: inline-block; line-height: 30px; float: right;}
.chartSec .chartBox.rBox .content .pic{ margin-left: 50%;}

.chartSec .bottom{ position: fixed; left: 0; bottom: 0; right: 0; background: #fff; text-align: center;}
.chartSec .bottom div{ height: 45px; line-height: 45px;}
.chartSec .bottom .weui-flex__item{ position: relative;}
.chartSec .bottom .weui-flex__item:after{ content: ""; position: absolute; right: 0; top: 10px; bottom: 10px; width: 1px; background: #f6f6f6;}
.chartSec .bottom .weui-flex__item:last-child:after{ display: none;}
.chartSec .bottom .placeholder{ display: inline-block; padding-left: 25px; position: relative;}
.chartSec .bottom .fapic{ background: url(../img/fatupian@2x.png) no-repeat left center; background-size: 25px;}
.chartSec .bottom .fatext{ background: url(../img/fawenzi@2x.png) no-repeat left center; background-size: 25px;}
.chartSec .bottom .faaudio{ background: url(../img/fayuyin@2x.png) no-repeat left center; background-size: 25px;}
.chartSec .bottom .zhuan{ color: #fff; background: #41D397;}
.chartSec .bottom .wait{ color: #41D397;}
.chartSec .bottom .over{ color: #fff; background: #999;}

/*我的钱包*/
.walletSec .tit{ width: 100%; background: url(../img/walletBg.png) no-repeat; background-size: cover; color: #fff; text-align: center;}
.walletSec .tit .tixian{ display: inline-block; padding: 3px 7px; border-radius: 5px; margin: 10px auto; border: 1px solid #fff;}
.walletSec .tit .info{ border-top: 1px solid rgba(255,255,255,.2); overflow: hidden;}
.walletSec .tit .info>div{ float: left; width: 50%; position: relative; padding: 10px;}
.walletSec .tit .info>div:first-child:after{ position: absolute; content: ""; width: 1px; top: 10px; bottom: 10px; right: 0; background: rgba(255,255,255,.2);}










