<include file="Public:header" title="医生专栏"/>
<style>
    .iconSearch2 {
    display: inline-block;
    width: 1rem;
    height: 0.4rem;
    border: 1px solid #fff;
    line-height: .4rem;
    /*border-radius: .2rem;*/
    text-align: center;
    color: #fff;
    background-size: .25rem .25rem;
    background-repeat: no-repeat;
    background-position: .1rem center;
    /*position: absolute;*/
    /*top: .18rem;*/
    /*right: .2rem;*/
   	background: url(../../../public/assets/images/sousuo@2x.png) no-repeat;
   	background-position: center;
   	background-size: .5rem;
    padding-left: .3rem;
    border-left: 1px solid #eee;
}
.citys{
	position: absolute;
	left: .2rem;
	top: .18rem;
	height: .4rem;
	line-height: .4rem;
	width: 1rem;
	color: #fff;
	font-size: 14px;
	background: url(../../../public/assets/images/xiala@2x.png) no-repeat;
	background-position: right center;
	background-size: .6rem;
	text-align: left;
}
</style>
<body>
<section class="flex_column w-height100 w-bgcolorf7f7f7"  id="flex_column">
    <div class="w-bgcolor44D397 w-padding0102 w-textalignC w-font0">
    	<div class="citys">成都</div>
        <div class="doubleBtnBox">
            <a href="javascript:;" data-id="all"  class="doubleBtnAce">全部</a>
            <b class="grayLine2"></b>
            <a href="javascript:;"    data-id="ygz">已关注</a>
        </div>
    </div>
    <div class="w-paddingTopBottom01 w-borderBeee w-bgcolorFFF w-flex">
        <div class="w-flexitem1 seaechNav">
            <a  data-id="all"  class="seaechNavAce">全部</a>
            <volist name="labelList" id="lists">
                <a   data-id="{$lists.id}" class="lablist">{$lists.name}</a>
            </volist>
        </div>
        <a href="/Index/search/type/ys" class="iconSearch2"></a>
    </div>
    <div class="w-flexitem1 w-section w-sectionD" id="scroll_content" >
        <div class="w-paddingLeftRight02 w-bgcolorFFF">


            <div class="w-paddingTopBottom02 w-borderBeee" v-cloak v-for="(item,index) in list">
                <div class="w-flex w-marginBottom02">
                    <div @click="jumpDoctIndex(item.id)" class="header2 w-marginRight02" :style="{ backgroundImage: 'url(' + (item.avatar?item.avatar:'/logo.png') + ')' }"><b></b></div>
                    <div  @click="jumpDoctIndex(item.id)" class="w-flexitem1 w-paddingTopBottom01">
                        <h4 class="w-height04 w-font14 w-color000 w-onlyline">
                            <em style="max-width: calc(2.5rem);overflow: hidden;display: inline-block;text-overflow: ellipsis;vertical-align: middle;">{{item.nickname}}</em>
                            <em style="vertical-align: middle;display: inline-block;margin-top: 2px;" class="w-font13 w-color333">粉丝：{{item.fss}}</em>
                        </h4>
                        <span class="w-block w-height04 w-font12 w-color999 w-onlyline">{{item.hosp}}{{item.zw}}</span>
                    </div>
                    <label  v-if="item.isshow==1 && item.isgz==0" for="collect2" class="iconCollect w-paddingTopBottom01">
                        <input     type="checkbox" disabled id="collect2">
                        <span  @click="gzFunc(item.id)"></span>
                    </label>
                    <label  v-if="item.isshow==1 && item.isgz==1"  class="w-paddingTopBottom01">
                        <input checked="checked"  disabled  type="checkbox">
                        <span  @click="gzFunc(item.id)" >已关注</span>
                    </label>
                </div>
                <h4  @click="jumpDoctIndex(item.id)" class="w-doubleline w-line04 w-font14 w-color333">{{item.grjs}}</h4>
            </div>

        </div>
        <div style="display: none" class="loadMore w-textalignC">没有更多了...</div>
        <div style="display: none;" class="noData">暂无数据</div>
    </div>


    <footer class="footer w-flex">
        <label for="home" class="w-flexitem1">
            <a href="/index/index">
                <input type="radio" name="footer" id="home"/>
                <span>首页</span>
            </a>
        </label>
        <label for="doctor" class="w-flexitem1">

                <input type="radio" name="footer" id="doctor" checked/>
                <span @click="goSearch()">医生专栏</span>

        </label>
        <label for="im" class="w-flexitem1">
            <?php  if($member_id > 0)
            { ?>

            <a href="/Member/index">
                <?php }else{ ?>
                <a href="/Index/login">
                    <?php } ?>

                <input type="radio" name="footer" id="im" />
                <span>我的</span>
            </a>
        </label>
    </footer>
    <!--<include file="Public:footer"/>-->
</section>
</body>
<input type="hidden" class="type" value="">
<input type="hidden" class="types" value="">
<include file="Public:js"/>


<script>

	
	//左右滑动事件
//	$("#scroll_content").on('touchstart',function(e){
//		var self=$(this);
//		var startX = e.originalEvent.targetTouches[0].clientX,//手指触碰屏幕的x坐标
//			pullDeltaX = 0;
//			console.log(startX)
//		self.on('touchmove',function(e){
//			var x = e.originalEvent.targetTouches[0].clientX;//手指移动后所在的坐标
//	        pullDeltaX = x - startX;//移动后的位移
//	        if (!pullDeltaX){
//	            return;
//	        }
//	        e.preventDefault();//阻止手机浏览器默认事件
//		})
//		self.on('touchend',function(e){
//			self.off('touchmove touchend');//解除touchmove和touchend事件
//	        //所要执行的代码
//	        e.preventDefault();
//	        //判断移动距离是否大于30像素
//	        if (pullDeltaX > 30){
//				console.log("向右滑，上一条");
//	            //右滑，往前翻所执行的代码
//	            var index=$('.seaechNav a.seaechNavAce').index();
//	            if(index==0){    //当前为第一项
//	            	return
//	            }
//	            else{
//	            	index--;
//	            	$('.seaechNav a').eq(index).addClass('seaechNavAce').siblings('a').removeClass('seaechNavAce')
//	            	var ids=$('.seaechNav a').eq(index).attr('data-id');
//	            	moveFun(ids);
//	            }
//	        }
//	        //判断当前页面是否为最后一页
//	        else if (pullDeltaX < -30){
//				console.log("向左滑，下一条");
//	            //左滑，往后翻所执行的代码
//	            var index=$('.seaechNav a.seaechNavAce').index();
//	            var len=$('.seaechNav a').length;
//	            if(index==len-1){    //当前为最后一项
//	            	return
//	            }
//	            else{
//	            	index++;
//	            	$('.seaechNav a').eq(index).addClass('seaechNavAce').siblings('a').removeClass('seaechNavAce')
//	            	var ids=$('.seaechNav a').eq(index).attr('data-id');
//	            	moveFun(ids);
//	            }
//	        }
//		})
//		console.log(chk_value);
//	})
	
	function moveFun(ids){
		chk_value = [];
        chk_value.push(parseInt(ids));
        page = 1;
        $('.ggid').val('')
        urlJump();
	}

    //全部跟已关注切换样式
    // $('.doubleBtnBox a').click(function(){
    //     $(this).addClass('doubleBtnAce').siblings('a').removeClass('doubleBtnAce');
    //     var types = $(this).attr('data-id');
    //     $('.types').val(types);
    //     // urlJump();
    // });
    // $('.seaechNav a').click(function(){
    //     $(this).addClass('seaechNavAce').siblings('a').removeClass('seaechNavAce');
    //      var type = $(this).attr('data-id');
    //    　$('.type').val(type);
    //     // urlJump();
    // });

    // urlJump();
    // function urlJump()
    // {
    //     var type = $('.type').val();
    //     var types = $('.types').val();
    //
    //     $.ajax({
    //         type: 'POST',
    //         url: '/DoctorSpec/index',
    //         data: {p:1,types:types,type:type},
    //         success: function (e) {
    //             if(e)
    //             {
    //                 // $('#datalist').html(e);
    //             }else{
    //                 // $('.noData').show();
    //                 // $('#datalist').html('');
    //             }
    //         },
    //     });
    // }
</script>
<link rel="stylesheet" type="text/css" href="__TMPL__Public/Mobile/css/dropload.css"/>



<script>
    window.onload = function () {
        var isFirst = 0;
        msg_list_loading = false;
        var dropload = null;
        //页面加载后替换
        var vm = new Vue({
            el: '#flex_column',
            data: {
                list: [],
                show: $("#currPage").val() ? $("#currPage").val() : 2,

                select_member_id: 0,
                select_label: '',
                guanzhu_count: 0,
                fensi_count: 0,
                page: {
                    p: 0,
                    totalPage: 1,
                    loadContent: "加载更多"
                },
            },

            methods: {  //方法

                //到医生首页
                jumpDoctIndex:function(id)
                {
                    location.href = "/Doctor/index/id/"+id;
                },
                goSearch:function () {
                    vm.mySearch(true);
                },
                gzFunc:function (id)
                {
                    var id = id;
                    $.ajax({
                        type: 'POST',
                        url: '/Article/folloAction',
                        data: {id:id,types:'zjgz'},
                        success: function (e) {
                            if(e.status == 1)
                            {
                                go_alert2(e.info);

                                vm.mySearch(true);
                            }else
                            {
                                go_alert2(e.info);
                                if(e.info =='请先登录')
                                {

                                    location.href ="/Index/login?tiaourl="+encodeURI(location.href);
                                    // location.href ="/Index/login";
                                }
                            }
                        },
                    });
                },
                mySearch: function (search) {
                    if (search) {
                        this.list = [];
                        this.page.p = 0;
                        this.page.totalPage = 1;
                        this.page.loadContent = '加载更多';
                    }
                    var type = $('.type').val();
                    var types = $('.types').val();
                    msg_list_loading = true;

                    if (this.page.p < this.page.totalPage)
                    {
                        var p = this.page.p == 0 ? this.page.p = 1 : this.page.p += 1;
                        var url = "{:U('index')}";
                        var param = {p: p,type:type,types:types};

                        $.getJSON(url, param, function (data) {
                            vm.list = vm.list.concat(data.info.list);
                            vm.page.totalPage = data.info.total_page;

                            $(".page_more_load").show();
                            if (vm.page.p >= vm.page.totalPage)
                            {
                                if(vm.page.totalPage >= 2)
                                {
                                    vm.page.loadContent = '没有更多了!';
                                }
                                if (vm.page.totalPage == 1 || data.info.total_page == 0) {
                                    vm.page.loadContent = '';
                                    $(".page_more_load").hide();
                                }
                            }
                            if (data.info.p >= data.info.total_page) {


                                if(vm.page.totalPage >= 2)
                                {
                                    $('.loadMore').show();
                                }
                            }
                            if(!vm.list||vm.list.length==0){
                                $(".noData").show();
                            }else
                            {
                                $(".noData").hide();
                            }
                            msg_list_loading = false;
                        })
                    }
                },
            },

            //页面加载后调用ajax请求数据
            created: function () {
                this.mySearch(true);
                setTimeout(function ()
                {
                    $('.doubleBtnBox a').click(function(){
                        $(this).addClass('doubleBtnAce').siblings('a').removeClass('doubleBtnAce');
                        var types = $(this).attr('data-id');
                        $('.types').val(types);
                        vm.mySearch(true);
                    });
                    $('.seaechNav a').click(function(){
                        $(this).addClass('seaechNavAce').siblings('a').removeClass('seaechNavAce');

                        if($(this).attr('data-id') == $('.type').val())
                        {
                            $('.type').val('');
                            $(this).removeClass('seaechNavAce');
                        }else
                        {
                            var type = $(this).attr('data-id');
                            $('.type').val(type);
                        }
                        vm.mySearch(true);


                    });
                },0)

            },
            mounted:function(){
                //if (this.show == 2)
                //{
                //    //上拉刷新初始化
                //    dropload = $('.inner').dropload({
                //        domUp : {
                //            domClass   : 'dropload-up',
                //            domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
                //            domUpdate  : '<div class="dropload-update">↑释放更新</div>'
                //        },
                //        loadUpFn : function(me){
                //            // 为了测试，延迟1秒加载
                //            setTimeout(function(){
                //                // 每次数据加载完，必须重置
                //                dropload.resetload();
                //            },1000);
                //            vm.mySearch(true);
                //        }
                //    });
                //}
            },
        });

        //下拉滚动分页
        //$("#scroll_content").scroll(function () {
        //    if($(this).scrollTop() == 0){
        //        //上拉刷新初始化
        //        dropload = $('.inner').dropload({
        //            domUp: {
        //                domClass: 'dropload-up',
        //                domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
        //                domUpdate: '<div class="dropload-update">↑释放更新</div>'
        //            },
        //            loadUpFn: function (me) {
        //                // 为了测试，延迟1秒加载
        //                setTimeout(function () {
        //                    // 每次数据加载完，必须重置
        //                    dropload.resetload();
        //                }, 1000);
        //                vm.mySearch(true);
        //            }
        //        });
        //    } else {
        //        $('.inner').unbind();
        //    }
        //    //得到整个页面高度
        //    var html_height = $(".list_content").height();
        //    var screen_height = document.documentElement.clientHeight;//363
        //    var scroll_height = $("#scroll_content").scrollTop();//760
        //    if (scroll_height >= html_height - screen_height) {
        //        $(document).scrollTop(scroll_height - 1);
        //        if (!msg_list_loading) {
        //            vm.mySearch(false);
        //        }
        //    }
        //});
        $("#scroll_content").on('scroll', function () {
            var nScrollHight = 0;
            var nScrollTop = 0;
            var nDivHight = $(".w-sectionD").height();
            nScrollHight = $(this)[0].scrollHeight;
            nScrollTop = $(this)[0].scrollTop;
            var paddingBottom = parseInt($(this).css('padding-bottom')), paddingTop = parseInt($(this).css('padding-top'));
            if (nScrollTop + paddingBottom + paddingTop + nDivHight >= nScrollHight - 10) {
                if (!msg_list_loading) {
                    vm.mySearch(false);
                }
            }
        });


    }
</script>

</html>