html,body{height:100%;overflow: hidden;}
.w-section{overflow-y: auto;overflow-x: hidden;-webkit-overflow-scrolling: touch;}
.w-bgcolor44D397{background: #44D397;}
.w-bgcolorf7f7f7{background-color: #f7f7f7;}
.w-overflowX{overflow-x: auto;overflow-y: hidden}
.w-color44D397{color: #44D397;}
.w-colorf81515{color: #f81515;}
.w-padding0302{padding: .3rem .2rem}
.w-borderBfff{border-bottom: 1px solid #fff}
.w-borderTeee{border-top: 1px solid #eee}
.w-borderRadio05{border-radius: .05rem}
.w-line03{line-height: .3rem}
.searchBox{
    /*padding: .05rem .1rem .05rem .7rem;*/
    background-image: url(../image/slice/search.png);
    background-repeat: no-repeat;
    -webkit-background-size: .3rem .3rem;
    background-size: .3rem .3rem;
    background-position: .2rem center;
    background-color: #fff;
    border-radius: .07rem;
}
.searchBox2{
    padding: .1rem 0;
    background-color: #44D397;
}
.searchBox2>div{
    padding: .05rem .1rem .05rem .2rem;
    background-color: #fff;
    border-radius: .07rem;
    font-size: 0;
}
.searchBox2>div>input{
    display: inline-block;
    height: .4rem;
    line-height: .4rem;
    color: #333;
    border-radius: .07rem;
    width: calc(100% - .4rem);
    vertical-align: middle;
    font-size: 14px;
    padding-top: 5px;
}
.iconSearch{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/search.png);
    -webkit-background-size: .3rem .3rem;
    background-size: .3rem .3rem;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}
.iconLeft{
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-image: url(../image/slice/iconLeft.png);
    -webkit-background-size: .14rem .28rem;
    background-size: .14rem .28rem;
    background-repeat: no-repeat;
    background-position: .2rem center;
}
.iconAdd{
    display: inline-block;
    width: .9rem;
    height: .4rem;
    border-left: 1px solid #eee;
    background-image: url(../image/slice/iconAdd.png);
    -webkit-background-size: .3rem .3rem;
    background-size: .3rem .3rem;
    background-repeat: no-repeat;
    background-position: center center;
}
.iconSearch2{
    display: inline-block;
    width: .9rem;
    height: .4rem;
    border-left: 1px solid #eee;
    background-image: url(../image/slice/searchWhite.png); 
    -webkit-background-size: .3rem .3rem;
    background-size: .3rem .3rem;
    background-repeat: no-repeat;
    background-position: center center;
}
.header1{
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    min-width: .6rem;
}
.seaechNav{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
    height: .4rem;
    color: #333;
}
.seaechNav a{
    display: inline-block;
    vertical-align: middle;
    padding: 0 .2rem;
    font-size: 14px;
    line-height: .4rem;
    height: .4rem;
}
.seaechNavAce{
    color: #44D397;
    font-size: 16px !important;
}
.threeLine{
    line-height: 20px;
    font-size: 14px;
    color: #333;
    position: relative;
    overflow: hidden;
}
.threeMark{
    position: absolute;
    height: 20px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    right: 0;
    bottom:0;
    vertical-align: middle;
    display: none;
}
.threeImgBox .threeImg{
    display: inline-block;
    width: calc((100% - .2rem) / 3);
    padding-top: calc((100% - .2rem) / 3);
    vertical-align: middle;
    position: relative;
    margin-right: .1rem;
    margin-top: .1rem;
}
.threeImgBox .threeImg:nth-child(3n+3){
    margin-right: 0;
}
.threeImg img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.threeFixed{
    position: absolute;
    width: calc((100% - .2rem) / 3);
    padding-top: calc((100% - .2rem) / 3);
    background-color: rgba(0, 0, 0,.2);
    top: .1rem;
    right: 0;
    z-index: 4;
}
.threeFixed span{
    position: absolute;
    font-size: 34px;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.iconCollect,.iconZan,.iconTalk,.iconShare,.iconRefresh,.iconCollect2{
    display: inline-block;
    vertical-align: middle;
}
.iconCollect input,.iconZan input,.iconCollect2 input{
    display: none
}
.iconCollect span{
    display: block;
}
.iconCollect2 span{
    display: inline-block;
    padding-left: .4rem;
    height: .4rem;
    line-height: 1.4rem;
    font-size: 14px;
    color: #333;
    background-image: url(../image/slice/iconCollect2.png);
    -webkit-background-size: .27rem .25rem;
    background-size: .27rem .25rem;
    background-repeat: no-repeat;
    background-position: left center;
}
.iconCollect2 input:checked + span{
    background-image: url(../image/slice/iconCollect2On.png);
}
.iconCollect span:before{
    content: '关注';
    display: block;
    padding-left: .4rem;
    height: .4rem;
    line-height: .4rem;
    font-size: 14px;
    color: #333;
    background-image: url(../image/slice/iconCollect.png);
    -webkit-background-size: .3rem .26rem;
    background-size: .3rem .26rem;
    background-repeat: no-repeat;
    background-position: left .07rem;
}
.iconCollect input:checked + span:before{
    content: '已关注';
    padding-left: 0;
    color: #999;
    background-image: url('');
}
.iconZan span{
    display: block;
    padding-left: .4rem;
    height: .4rem;
    line-height: .4rem;
    font-size: 15px;
    color: #333;
    background-image: url(../image/slice/iconZan.png);
    -webkit-background-size: .3rem .29rem;
    background-size: .3rem .29rem;
    background-repeat: no-repeat;
    background-position: left .06rem;
}
.iconZan input:checked + span{
    background-image: url(../image/slice/iconZanGreen.png);
    color: #44D397;
}
.iconTalk{
    padding-left: .4rem;
    height: .4rem;
    line-height: .4rem;
    background-image: url(../image/slice/iconTalk.png);
    -webkit-background-size: .3rem .27rem;
    background-size: .3rem .27rem;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 15px;
    color: #333;
}
.iconShare{
    padding-left: .4rem;
    height: .4rem;
    line-height: .4rem;
    background-image: url(../image/slice/iconShare.png);
    -webkit-background-size: .27rem .3rem;
    background-size: .27rem .3rem;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 15px;
    color: #333;
}
.goods1{
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
}
.w-btn1{
    padding: 0 4px;
    line-height: 14px;
    height:16px;
    display: inline-block;
    vertical-align: middle;
    border-radius: .05rem;
    border: 1px solid #f81515;
    color: #f81515;
    font-size: 12px;
}
.iconRefresh{
    width: .3rem;
    height: .3rem;
    background-image: url(../image/slice/iconRefresh.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.footer{
    font-size: 0;
    padding-top: .1rem;
    background-color: #fff;
    border-top: 1px solid #eee;
}
.footer label input{display: none}
.footer label span{
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    width: 100%;
    padding-top: .35rem;
    line-height: .3rem;
    font-size: 12px;
    color: #666;
    text-align: center;
    position: relative;
    padding-bottom: calc(.04rem + 1px);
}
.footer label input:checked + span:before{
    content: '';
    position:absolute;
    width: 30px;
    height: .04rem;
    border-top-left-radius: .04rem;
    border-top-right-radius: .04rem;
    background-color: #44D397;
    left: 50%;
    margin-left: -15px;
    bottom: 1px;
    z-index: 4;
}
.footer label:nth-child(1) span{
    background-image: url(../image/slice/home.png);
    -webkit-background-size: .39rem .32rem;
    background-size: .39rem .32rem;
}
.footer label:nth-child(2) span{
    background-image: url(../image/slice/doctor.png);
    -webkit-background-size: .33rem .35rem;
    background-size: .33rem .35rem;
}
.footer label:nth-child(3) span{
    background-image: url(../image/slice/im.png);
    -webkit-background-size: .28rem .32rem;
    background-size: .28rem .32rem;
}
.footer label:nth-child(1) input:checked + span{
    background-image: url(../image/slice/homeOn.png);
    -webkit-background-size: .45rem .39rem;
    background-size: .45rem .39rem;
}
.footer label:nth-child(2) input:checked + span{
    background-image: url(../image/slice/doctorOn.png);
    -webkit-background-size: .39rem .41rem;
    background-size: .39rem .41rem;
}
.footer label:nth-child(3) input:checked + span{
    background-image: url(../image/slice/imOn.png);
    -webkit-background-size: .36rem .4rem;
    background-size: .36rem .4rem;
}
.footer label input:checked + span{
    color: #44D397;
}
.tagBox{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 10;
    padding: .6rem .2rem .2rem .2rem;
    display: none;
}
.iconTag{
    position: absolute;
    width: .6rem;
    height: .6rem;
    background-image: url(../image/slice/iconTag.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    top: .3rem;
    right: .2rem;
}
.xhMax{
    height: .7rem;
    line-height: .7rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    color: #44D397;
    border-bottom: 2px solid #44D397;
}
.w-swiper-slide{
    width: 4.8rem !important;
    padding: 0 .2rem;
}
.w-swiper-container{
    margin: 0 auto .5rem;
    width: 4.8rem;
    padding-bottom: .5rem;
}
.iconTagBox{
    padding: .3rem 0;
    border-bottom: 1px solid #eee;
    font-size: 0;
    text-align: left;
}
.iconTagPurple,.iconTagOrange,.iconTagBlue{
    display: inline-block;
    vertical-align: middle;
    margin-right: .2rem;
    width: calc((100% - .4rem)/3);
}
.iconTagPurple input,.iconTagOrange input,.iconTagBlue input{
    display: none;
}
.iconTagPurple span,.iconTagOrange span,.iconTagBlue span{
    display: block;
    border: 1px solid #B0AFF1;
    height: .55rem;
    line-height: .57rem;
    text-align: center;
    background-color: #fff;
    color: #B0AFF1;
    font-size: 14px;
    overflow: hidden;
    border-radius: .275rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.iconTagOrange span{
    border: 1px solid #F7B77A;
    color: #F7B77A;
}
.iconTagBlue span{
    border: 1px solid #8ADAC8;
    color: #8ADAC8;
}
.iconTagBox .iconTagPurple:nth-child(3),.iconTagBox .iconTagOrange:nth-child(3),.iconTagBox .iconTagBlue:nth-child(3){
    margin-right: 0;
}
.iconTagPurple input:checked + span{
    background-color: #B0AFF1;
    color: #fff;
}
.iconTagOrange input:checked + span{
    background-color: #F7B77A;
    color: #fff;
}
.iconTagBlue input:checked + span{
    background-color: #8ADAC8;
    color: #fff;
}
.w-swiper-pagination{
    bottom: 0 !important;
}
.swiper-pagination-bullet{
    opacity: 1 !important;
    border: 1px solid #44D397 !important;
    background-color: #fff !important;
}
.swiper-pagination-bullet-active{
    background-color: #44D397 !important;
}
.w-btn2{
    display: inline-block;
    width: 2rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: 14px;
    border-radius: .1rem;
}
.noData{
    padding: 2.96rem 0 1rem;
    line-height: .3rem;
    font-size: 14px;
    color: #999;
    text-align: center;
    background-image: url(../image/slice/noData.png);
    -webkit-background-size: .8rem .8rem;
    background-size: .8rem .8rem;
    background-repeat: no-repeat;
    background-position: center 2rem;
    margin:0 auto;
}
.headTit{
    display: block;
    margin: 0 .7rem;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.headLeft,.headRight{
    display: block;
    width: .7rem;
    height: .7rem;
    float: right;
}
.headLeft:active,.headRight:active{
    background-color: #A2FAD6;
}
.headLeft{
    background-image: url(../image/slice/iconLeft.png);
    -webkit-background-size: .14rem .28rem;
    background-size: .14rem .28rem;
    background-position: .2rem center;
    background-repeat: no-repeat;
    float: left;
}
.xhLine1{
    display: inline;
    border-bottom: 1px solid #41d397;
    color: #41d397;
}
.talkBox,.talkBox2{
    padding: 0 .2rem;
    background-color: #f7f7f7;
    border-radius: .05rem;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 1.2rem);
}
.talkBox2{
    width: calc(100% - 1.8rem);
}
.talkBox input,.talkBox2 input{
    display: block;
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    font-size: 14px;
    color: #333;
}
.shareBox{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    z-index: 10;
}
.share{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}
.iconQQ,.iconWechat,.iconFriend,.iconQzone{
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.iconQQ{background-image: url(../image/slice/iconQQ.png);}
.iconWechat{background-image: url(../image/slice/iconWechat.png);}
.iconFriend{background-image: url(../image/slice/iconFriend.png);}
.iconQzone{background-image: url(../image/slice/iconQzone.png);}
.header2{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
    min-width: 1rem;
}
.header2 b{
    position: absolute;
    width: .24rem;
    height: .24rem;
    background-image: url(../image/slice/iconRz.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    bottom: 0;
    right: 0;
}
.grayLine{
    display: inline-block;
    width: 1px;
    height: .4rem;
    background-color: #eeeeee;
    vertical-align: middle;
}
.navBox{
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.navBox a{
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.navBox .navBoxAce{
    font-size: 15px;
    color: #44D397;
}
.personalBox{
    height: 2.75rem;
    background-image: url(../image/personalBg.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: .2rem;
}
.iconSet{
    background-image: url(../image/slice/iconSet.png);
    -webkit-background-size: .36rem .34rem;
    background-size: .36rem .34rem;
    width: .4rem;
    height: .4rem;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    vertical-align: middle;
}
.header3{
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: .05rem solid #9EE7DF;
    /*min-width: 1.6rem;*/
}
.iconJi{
    display: inline-block;
    vertical-align: middle;
    padding-left: .3rem;
    height: .3rem;
    line-height: .3rem;
    font-size: 14px;
    color: #fff;
    background-image: url(../image/slice/iconJi.png);
    -webkit-background-size: .22rem .22rem;
    background-size: .22rem .22rem;
    background-repeat: no-repeat;
    background-position: left center;
}
.iconFance{
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconFance.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.iconLove{
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconLove.png);
    -webkit-background-size: .34rem .3rem;
    background-size: .34rem .3rem;
    background-position: center center;
    background-repeat: no-repeat;
}
.iconText{
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconText.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.iconDs{
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconDs.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.rightLine{
    padding: .2rem .2rem .2rem 0;
    background-image: url(../image/slice/iconRight.png);
    -webkit-background-size: .1rem .2rem;
    background-size: .1rem .2rem;
    background-repeat: no-repeat;
    background-position: right center;
}
.iconMyNews{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconMyNews.png);
    -webkit-background-size: .34rem .32rem;
    background-size: .34rem .32rem;
    background-repeat: no-repeat;
    background-position: left .07rem;
    vertical-align: middle;
}
.orangeBall{
    display: inline-block;
    vertical-align: middle;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color:#fff;
    background-color: #FFBA78;
    line-height: .32rem;
    overflow: hidden;
}
.iconMyCollect{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconMyCollect.png);
    -webkit-background-size: .34rem .32rem;
    background-size: .34rem .32rem;
    background-repeat: no-repeat;
    background-position: left .07rem;
    vertical-align: middle;
}
.iconHelpCenter{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconHelpCenter.png);
    -webkit-background-size: .34rem .34rem;
    background-size: .34rem .34rem;
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
}
.iconLookIm{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconLookIm.png);
    -webkit-background-size: .34rem .34rem;
    background-size: .34rem .34rem;
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
}
.iconLogOut{
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconLogOut.png);
    -webkit-background-size: .32rem .34rem;
    background-size: .32rem .34rem;
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
}
.logCutBox{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    z-index: 10;
}
.logCut{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.iconIss{
    position: fixed;
    background-image: url(../image/slice/iconIss.png);
    width: .88rem;
    height: .89rem;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    right: .2rem;
    bottom: 2.8rem;
    z-index: 4;
}
.xhLine2{
    display: inline;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    color: #fff;
}
.personalBox2{
    min-height: 2.6rem;
    background-image: url(../image/personalBg2.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: .2rem .3rem;
}
.w-btn3{
    display: inline-block;
    min-width: 1rem;
    height: .4rem;
    line-height: .43rem;
    border-radius: .2rem;
    margin: 0 .1rem .1rem 0;
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 0 3px;
    vertical-align: middle;
}
.w-font0 .w-btn3:nth-child(odd){
     background-color: #B0AFF1;
}
.w-font0 .w-btn3:nth-child(even){
    background-color: #F7B77A;
}
.iconMyDocter{
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-image: url(../image/slice/iconMyDocter.png);
    -webkit-background-size: .34rem .34rem;
    background-size: .34rem .34rem;
    background-repeat: no-repeat;
    background-position: left center;
}
.doubleBtnBox{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    background-color: #fff;
    border-radius: .25rem;
    overflow: hidden;
}
.doubleBtnBox a{
    display: inline-block;
    vertical-align: middle;
    width: 1.3rem;
    height: .5rem;
    line-height: .54rem;
    font-size: 14px;
    color: #999;
    text-align: center;
}
.doubleBtnBox .doubleBtnAce{
    color: #44D397;
}
.grayLine2{
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: .2rem;
    background-color: #eeeeee;
}
.w-height03.w-onlyline.w-font12.w-color999{
	height: 18px;
	line-height: 18px;
}
.oneImgBox{
    width:100%;
    padding-top:66.666666666%;
    position:relative;
}
.oneImgBox img{
    position:absolute;
    width:100% !important;
    height:100% !important;
    top:0;
    left:0;
    z-index:3;
}